* {
    background-color: #262626;
}

/* App.css */

/* Center the header */
header {
    text-align: center;
  }
  
  /* Style the task container */
  .taskcontainer {
    border: 1px solid white; /* Add a white border between Task Form and Task List */
  }
  
  /* Add padding and margin to Task List and Task Form */
  .task-container-item {
    padding: 20px;
    margin: 20px;
  }
  
  /* Style the input fields in Task Form */
  #taskName,
  #taskDescription {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
  }
  
/* Style the Add Task button with indigo gradient */
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #6610f2, #6f42c1); /* Indigo gradient */
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-image: linear-gradient(to right, #5a0bca, #580bc7); /* Darker indigo gradient on hover */
  }
  
  